:root{
    --secondary: #42C8D6;
    --primary: #F7A820;
    --success: #8CD181;
    --danger: #9E5FE0;
    --black: #212429;
    
}

*, ::after, ::before {
    box-sizing: border-box;
    text-decoration: none;
}
*:not(i){
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
}
body{
    font-size: 14px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}
a:hover{
    text-decoration: none!important;
}

.dark .sidebar{
    background-color: #212429;
}
.dark .sidebar .nav-link{
    color: #fff;
}
.sidebar{
    width: 260px;
    height: 100%;
    overflow-y: auto;
    background-color: #212429;
}
.sidebar-user{
    color: #fff;
    display: flex;
    padding: 8px 16px;
    border-top: 1px solid #6c6e70;
    border-bottom: 1px solid #6c6e70;
}
.sidebar-user-name{
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}
.sidebar-user-close{
    text-align: right;
    width: 40px;
}
.wrapper.lite{
    background-color: var(--black);
}
.sidebar .sidebar-header{
    height: 140px;
    text-align: center;
    padding: 32px;
    padding-bottom: 16px;
    font-size: 24px;
}
.sidebar .sidebar-header img{
    height: 100%;
}
.sidebar .sidebar-content{
    padding: 16px;
    padding-top: 16px;
}
.nav-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-list li{
    width: 100%;
    margin-bottom: 16px;
}
.nav-link{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff!important;
}
.nav-list .nav-list .nav-link{
    padding-left: 4rem;
}
.nav-link .nav-icon{
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
}
.nav-link.active .nav-icon{
    background-color: var(--primary);
    color: #fff;
}
.nav-link.active{
    color: var(--primary)!important;
}
.nav-link span{
    font-size: 16px;
    font-weight: 500;
}

.content{
    width: calc(100% - 260px);
    overflow-y: auto;
}

#cumpleanios .card-body{
    max-height: 200px;
}
p.comentario{
    font-size: 12px;
}
.scrollable{
    overflow-y: auto;
}

.content-fluid{
    min-height: 100%;
    padding: 32px 16px;
    background-color: #fff;
    /* border-radius: 32px; */
}

@media (max-width: 992px){
    .sidebar{
        display: none;
    }
    .sidebar.show{
        display: initial;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .sidebar-background.show{
        content: " ";
        display: block;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .content{
        margin-top: 60px;
        width: 100%;
        padding: 0;
    }
    .content-fluid{
        padding: 16px 0;
    }
}

.nav-header{
    display: none;
}
@media (max-width: 992px){
    .nav-header{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 8px;
        color: #fff;
    }
    .nav-header .button{
        width: 50px;
    }
    .nav-header .title{
        display: flex;
        align-items: center;
    }
}

.card-resumen i{
    font-size: 60px;
}



.card{
    border: 1px solid #ced4da;
    border-radius: 16px;
    background-color: #fff;
}
.card-header{
    padding-bottom: 0;
}
.card-footer{
    padding-top: 0;
}
.card-content{
    padding: 16px;
}
.card-footer,.card-header{
    background-color: transparent;
    border-bottom: 0;
    border-top: 0;
}
.card-title{
    color: var(--black);
    font-size: 24px;
    margin: 0;
    margin-bottom: 8px;
}
.card-comment{
    font-size: 16px;
    color: var(--primary);
    margin: 0;
    margin-bottom: 8px;
}
.navbar{
    margin-bottom: 0!important;
}
nav{
    margin-bottom: 24px;
}

.table{
    width: 100%;
}
.table .table-header{
    display: block;
    padding: 16px;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.table .table-row{
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 16px;
    padding: 12px 16px;
    display: block;
    /* margin-bottom: 16px; */
}
.table .table-row:not(:last-child){
    margin-bottom: 16px;
}
.table label{
    display: none;
}


@media (max-width: 992px){
    .table-responsive .table-header{
        display: none;
    }
    .table label{
        display: inline-block;
        font-weight: bold;
        /* margin-right: 8px; */
        width: 85px;
    }
    .mb-sm{
        margin-bottom: 16px;
    }
}

.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
    background-color: var(--primary)!important;
    border-color: var(--primary);
}
.text-primary,a.text-primary:hover{color: var(--primary)!important}

.text-success{
    color: var(--success)!important;
}
.btn-success,.btn-success:hover,.btn-success:focus,.btn-success:active{
    background-color: var(--success)!important;
    border-color: var(--success)!important;
}
.btn-danger,.btn-danger:hover,.btn-danger:focus,.btn-danger:active{
    background-color: #dc3545!important;
    border-color: #dc3545!important;
    color: #fff;
}
.modal-header{
    border-bottom: 0px;
}
.modal-footer{
    border-top: 0px;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem transparent!important;
}
.vue-numeric-input.form-control{
    width: 100%!important;
}
.vue-numeric-input .numeric-input{
    border: 0!important;
}

.card-footer:last-child {
    /* border: 1px solid #ced4da; */
    border-bottom-left-radius:  12px;
    border-bottom-right-radius:  12px;
}

.vs__search, .vs__search:focus{
    margin: 10px 0 0!important;
}